@font-face {
    font-family: 'Panton';
    src: url('../Fonts/panton-lightcaps-webfont.woff') format('woff');
    src: url('../Fonts/panton-lightcaps-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container{
    border-width: 5px;
    border-color: grey;
    border-style: solid;
    padding: 10px;
    margin: 40px;
    margin-left: 400px;
    margin-right: 400px;
}

button{
    color:black;
    background-color: white;
    font-family: "Panton";
    font-weight: lighter;
    font-size: 45px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    padding: 5px;
}

button:hover{
    color: #FA696A;
    font-family: "Panton";
    font-weight: lighter;
    font-size: 45px;
}

.cnt-blk{
    border-width: 0px;
    border-color: green;
    border-style: solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.opt-blk{
    border-style: solid;
    border-color: #059695;
    border-width: 3.5px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "Panton";
    font-weight: lighter;
    font-size: 50px;
}

.optr{
    color: black;
    padding:20px;
    font-size: 45px;
}

.optr:hover{
   color: #059695;
}

.num-pad{
    border-style: solid;
    border-color: #FA696A;
    border-width: 2.5px; 
}